/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

:root {
  --font-cnew: "Courier New",
  Courier,
  monospace;
  --font-roboto-b: "Roboto bold",
  sans-serif;
  --font-roboto-r: "Roboto regular",
  sans-serif;
  --font-roboto-l: "Roboto light",
  sans-serif;
}
@font-face {
  font-family: "Roboto bold";
  src: url(./../public/assets/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto regular";
  src: url(./../public/assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto light";
  src: url(./../public/assets/fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-roboto-r);
  font-size: 1.6rem;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cnew);
  color: var(--violet);
}

img {
  max-width: 100%;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid: "header" 12rem "banner" auto/auto;
  background: var(--violet-light);
}

header {
  grid-area: header;
  background: var(--dark);
}
header nav {
  background: var(--violet);
  padding: 1rem;
  display: grid;
  grid: "logo nav"/10rem auto;
  position: sticky;
}
header nav img {
  grid-area: logo;
  border-radius: 50%;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  margin: 0 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
header nav ul li a {
  color: var(--orange);
  cursor: pointer;
  transition: all 0.3s;
}
header nav ul li a:hover {
  color: var(--orange-hover);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--orange-hover);
}

.banner {
  grid-area: banner;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.banner img {
  border-radius: 50%;
  border: 0.8rem solid var(--violet);
}
.banner .title {
  text-transform: uppercase;
  letter-spacing: 1.8rem;
  font-size: 4rem;
  font-weight: 700;
  padding: 3rem 0;
}
.banner .subtitle {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.banner .banner-text {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-align: justify;
}

.grid-container-main {
  display: grid;
  grid: "main aside" "main aside" "main aside" "main aside"/auto 350px;
}

main {
  max-width: 1200px;
  margin: auto;
  grid-area: main;
  background: var(--light);
}
main aside {
  grid-area: aside;
  background: var(--white);
}

footer {
  grid-area: footer;
  background: var(--dark);
}

/*# sourceMappingURL=style.css.map */
