.banner {
    &-title {
        color: var(--primary-light);
        font-size: 4rem;
        line-height: 6rem;
        font-weight: 700;
        letter-spacing: 2.5rem;
        text-align: center;
        padding: 3rem 0;
    }

    &-subtitle {
        color: var(--white);
        letter-spacing: 0.5rem;
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
    }

    &-text {
        color: var(--primary-light);
        padding: 2rem 2rem;
        text-align: center;
    }
}

.section {
    &-title {
        font-size: 3rem;
        letter-spacing: 0.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &-content {
        padding: 2.5rem 0 0 0;
        font-style: italic;
    }
}

.text {
    &-title {
        letter-spacing: 0.3rem;
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--secondary);
    }

    &-subtitle {
        font-family: var(--font-cnew);
    }

    &-content {
        text-align: justify;
    }
}

.star {
    &-primary {
        color: var(--primary-dark);
    }

    &-primary-middle {
        color: var(--primary-middle);
    }
}