@use "fonts";
@use "reset";
@use "base";
@use 'utilities';
@use 'animations';
@use 'classes';
@use 'medias';

.grid-container {
    display: grid;
    grid:
        "header header" auto "main aside" auto "footer footer" auto / auto;

    // *********************************************************************************
    // Header

    header {
        grid-area: header;
        min-height: 100vh;
        display: grid;

        grid:
            "nav" 12rem "banner" auto / auto;

        nav {
            grid-area: nav;
            background: var(--primary);
            display: grid;
            align-items: center;

            grid:
                "picture nav-items" auto / auto;

            img {
                width: 10rem;
            }

            ul {
                display: flex;

                li {
                    padding: 0 2rem;

                    a {
                        color: var(--secondary-light);
                        font-weight: 700;
                        transition: all .3s;

                        &:hover {
                            color: var(--secondary);
                        }
                    }
                }
            }
        }

        .banner {
            grid-area: banner;
            background: var(--primary-middle);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                border-radius: 50%;
                border: 1rem solid var(--primary);
            }


        }
    }

    // *********************************************************************************
    // Main

    main {
        grid-area: main;

        p {
            letter-spacing: 0.1rem;
            line-height: 3rem;
        }

        .experience {
            display: flex;
            margin: 6rem 0;

            .timeline {
                text-align: center;
                color: var(--primary-dark);
                border-right: 1px solid var(--light);

                p {
                    width: 100px;
                }
            }

            .content {
                padding: 0 1rem;

                ul {
                    list-style: circle;
                }
            }
        }
    }

    // *********************************************************************************
    // Aside

    aside {
        grid-area: aside;
        background: var(--primary-light);

        .bar-skill {
            margin: 2rem 0;
            height: 5px;
            background: var(--primary-middle);
            position: relative;

            .bar-skill-progress {
                position: absolute;
                height: 5px;
                top: 0;
                left: 0;
                width: 80%;
                background: var(--primary-dark);
            }

            .bar-skill-dot {
                position: absolute;
                height: 10px;
                width: 10px;
                background: var(--secondary);
                left: calc(80% - 5px);
                top: -2.5px;
                border-radius: 50%;
                // transform: rotate(45deg);
            }
        }

        .stars-container {
            display: flex;
            margin: 2rem 0 3rem 0;

            i {
                font-size: 2rem;
                margin: 0 1rem;
            }

        }

        a {
            color: var(--primary);
            transition: all .3s;
            cursor: pointer;

            &:hover {
                color: var(--secondary);
            }

            .social-container {
                display: block;
                padding: 1rem;
                border-radius: 5px;

                &:hover {
                    background: var(--primary);
                }

                i {
                    margin-right: 5px;
                    font-size: 2rem;
                    flex: 0 0 50px;
                }
            }


        }
    }

    // *********************************************************************************
    // Footer

    footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--primary);


        .footer-title {
            font-size: 3rem;
            letter-spacing: 0.5rem;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--secondary);
        }

        .footer-subtitle {
            color: var(--secondary-light);
            font-family: var(--font-cnew);
            font-size: 2rem;
        }

        form {
            display: flex;
            align-items: center;

            .prefix {
                background: linear-gradient(to right, var(--primary), var(--primary-light));
                padding: 1rem 2rem;
                color: white;
                font-size: 1.8rem;
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }

            button {
                background: var(--text);
                border: 0;
                cursor: pointer;

                .postfix {
                    background: linear-gradient(to right, var(--primary-light), var(--primary));
                    padding: 1rem 2rem;
                    color: white;
                    font-size: 2rem;
                    border-top-right-radius: 0.5rem;
                    border-bottom-right-radius: 0.5rem;
                    transition: all .3s;

                    &:hover {
                        background: linear-gradient(to right, var(--secondary-light), var(--secondary));
                    }
                }
            }

            input {
                outline: 0;
                border: 0;
                min-width: 400px;
                padding: 1rem 2rem;
                line-height: 2.2rem;
                background: var(--primary-light);

                &::placeholder {
                    color: var(--primary-middle);
                }
            }
        }


    }



}