@use "reset";
@use "fonts";
@use "base";
@use 'medias';

.grid-container {
    min-height: 100vh;
    display: grid;
    grid:
        "header"
        "banner"
        / auto;

}

header {
    grid-area: header;
    background: var(--dark);

    nav {
        background: var(--violet);
        padding: 1rem;
        display: grid;
        grid:
            "logo nav" / 100px auto;

        position: sticky;

        img {
            grid-area: logo;
            border-radius: 50%;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                margin: 0 2rem;
                font-weight: 700;
                text-transform: uppercase;


                a {
                    color: var(--orange);
                    cursor: pointer;
                    transition: all .3s;

                    &:hover {
                        color: var(--orange-hover);
                        padding-bottom: 0.5rem;
                        border-bottom: 1px solid var(--orange-hover);
                    }
                }
            }
        }
    }
}

.banner {
    grid-area: banner;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;

    img {
        border-radius: 50%;
    }

    .title {
        text-transform: uppercase;
        letter-spacing: 1.8rem;
        font-size: 4rem;

        font-weight: 700;
    }

    .subtitle {
        font-size: 3rem;
    }

    .banner-text {
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        text-align: justify;
    }
}

main {
    max-width: 1200px;
    margin: auto;
    grid-area: main;
    display: grid;
    grid:
        "main aside"
        "main aside"
        "main aside"
        "main aside"
        / auto 350px;
    background: var(--light);

    aside {
        grid-area: aside;
        background: var(--white);
    }
}

footer {
    grid-area: footer;
    background: var(--dark);
}