html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-roboto-r);
    font-size: 1.6rem;
    color: var(--secondary-light);
    background-color: var(--background-dark-menu);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-cnew);
    font-weight: 700;
    color: var(--primary-light);
}

img {
    max-width: 100%;
}