:root {
    // colors

    --primary: #0084ff;
    --primary-light: #edf6ff;
    --primary-middle: #1763a9;
    --primary-dark: #00152a;
    --secondary: #898989;
    --secondary-light: #eeeeee;
    --secondary-dark: #191919;
    --white: #fff;
}