:root {
  --primary: #0084ff;
  --primary-light: #edf6ff;
  --primary-middle: #1763a9;
  --primary-dark: #00152a;
  --secondary: #898989;
  --secondary-light: #eeeeee;
  --secondary-dark: #191919;
  --white: #fff;
}

:root {
  --font-cnew: "Courier-new",
  Courier,
  monospace;
  --font-roboto-b: "Roboto-bold",
  sans-serif;
  --font-roboto-r: "Roboto-regular",
  sans-serif;
  --font-roboto-l: "Roboto-light",
  sans-serif;
}
@font-face {
  font-family: "Roboto-bold";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto-regular";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto-light";
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-roboto-r);
  font-size: 1.6rem;
  color: var(--secondary-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cnew);
  font-weight: 700;
  color: var(--primary);
}

img {
  max-width: 100%;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.me-1 {
  margin-right: 1rem !important;
}

.me-2 {
  margin-right: 2rem !important;
}

.me-3 {
  margin-right: 3rem !important;
}

.me-4 {
  margin-right: 4rem !important;
}

.me-5 {
  margin-right: 5rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.ms-1 {
  margin-left: 1rem !important;
}

.ms-2 {
  margin-left: 2rem !important;
}

.ms-3 {
  margin-left: 3rem !important;
}

.ms-4 {
  margin-left: 4rem !important;
}

.ms-5 {
  margin-left: 5rem !important;
}

.mx-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mx-2 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.mx-3 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.mx-4 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.mx-5 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.my-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-5 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.m-4 {
  margin: 4rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pe-1 {
  padding-right: 1rem !important;
}

.pe-2 {
  padding-right: 2rem !important;
}

.pe-3 {
  padding-right: 3rem !important;
}

.pe-4 {
  padding-right: 4rem !important;
}

.pe-5 {
  padding-right: 5rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.ps-1 {
  padding-left: 1rem !important;
}

.ps-2 {
  padding-left: 2rem !important;
}

.ps-3 {
  padding-left: 3rem !important;
}

.ps-4 {
  padding-left: 4rem !important;
}

.ps-5 {
  padding-left: 5rem !important;
}

.px-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.px-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.px-3 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.px-4 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.px-5 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.py-4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.py-5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.p-2 {
  padding: 2rem !important;
}

.p-3 {
  padding: 3rem !important;
}

.p-4 {
  padding: 4rem !important;
}

.p-5 {
  padding: 5rem !important;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.cards .card {
  background: var(--primary-light);
  height: 40rem;
  max-width: 30rem;
  border-radius: 5px;
  margin: 0 0 2rem 0 !important;
}
.cards .card .card-img-top {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cards .card .card-body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 26rem;
}
.cards .card .card-body .card-title {
  letter-spacing: 0.3rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-dark);
  text-align: center;
}
.cards .card .card-body .card-text {
  text-align: justify;
}
.cards .card .card-body .btn {
  margin-top: auto;
}

.btn {
  border: none;
  background: var(--primary);
  color: var(--primary-light);
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.btn:hover {
  background: var(--secondary-dark);
  color: var(--white);
}

.slider .slider-items .slider-item {
  display: none;
  position: relative;
}
.slider .slider-items .slider-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  z-index: 0;
}
.slider .slider-items .slider-item .slider-caption {
  position: relative;
  z-index: 1;
}
.slider .slider-items .slider-item .slider-caption .slider-subtitle {
  background: var(--primary);
  color: var(--secondary-light);
  padding: 1rem;
}
.slider .slider-items .active {
  display: block;
}
.slider .slider-items .slider-buttons {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.slider .slider-items .slider-buttons .slider-button {
  border: 2px solid var(--white);
  padding: 0 2rem;
}
.slider .slider-items .slider-buttons .slider-button:first-child,
.slider .slider-items .slider-buttons .slider-button:nth-child(2) {
  margin: 0 2rem 0 0;
}
.slider .slider-items .slider-buttons .active {
  border-color: var(--secondary-dark);
}

.slider-title {
  color: var(--primary-light);
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 1rem;
  font-weight: 700;
  text-align: center;
  padding: 3rem 0;
}
@media only screen and (min-width: 576px) {
  .slider-title {
    font-size: 4rem;
    line-height: 6rem;
    letter-spacing: 2.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .slider-caption {
    padding: 0 5rem;
  }
}
.slider-subtitle {
  color: var(--white);
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0;
}
@media only screen and (min-width: 576px) {
  .slider-subtitle {
    letter-spacing: 0.5rem;
    font-size: 2rem;
  }
}
.slider-text {
  padding: 2rem;
  color: var(--primary-light);
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .slider-text {
    padding: 2rem 1rem;
    text-align: justify;
  }
}
@media only screen and (min-width: 992px) {
  .slider-text {
    padding: 2rem 1rem;
    text-align: center;
  }
}

.section-title {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 3rem;
  }
}
.section-content {
  padding: 2.5rem 0 0 0;
  font-style: italic;
}

.text-title {
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-dark);
}
.text-subtitle {
  font-family: var(--font-cnew);
}
.text-content {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.text-title-start {
  text-align: start;
}

.star-primary {
  color: var(--primary-dark);
}
.star-primary-middle {
  color: var(--primary-middle);
}

.grid-container {
  display: grid;
  grid: "header" auto "aside" auto "main" auto "footer" auto/auto;
}
@media only screen and (min-width: 992px) {
  .grid-container {
    grid: "header header" auto "main aside" auto "footer footer" auto/auto;
  }
}
.grid-container header {
  grid-area: header;
  display: grid;
  grid: "nav" auto "banner" auto/auto;
}
@media only screen and (min-width: 768px) {
  .grid-container header {
    grid: "nav" 12rem "banner" auto/auto;
  }
}
.grid-container header nav {
  grid-area: nav;
  grid: "picture" auto "nav-items" auto/auto;
  padding: 2rem 0;
  background: var(--primary);
}
@media only screen and (min-width: 768px) {
  .grid-container header nav {
    display: grid;
    grid: "picture nav-items" auto/auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 992px) {
  .grid-container header nav {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
  }
}
.grid-container header nav .menu-burger {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.grid-container header nav .menu-burger img {
  margin-right: 3rem;
  width: 10rem;
  border-radius: 50%;
}
.grid-container header nav .menu-burger .icon-burger {
  font-size: 5rem;
  color: var(--secondary);
  border: 1px solid var(--secondary-light);
  padding: 0 2rem;
  border-radius: 1rem;
}
@media only screen and (min-width: 768px) {
  .grid-container header nav .menu-burger .icon-burger {
    display: none;
  }
}
.grid-container header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem 0 3rem 0;
  display: none;
}
@media only screen and (min-width: 768px) {
  .grid-container header nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}
.grid-container header nav ul li {
  padding: 2rem 0;
}
.grid-container header nav ul li a {
  color: var(--secondary-light);
  font-weight: 700;
  transition: all 0.3s;
  font-size: 1.8rem;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .grid-container header nav ul li a {
    padding: 0 2rem;
    font-size: 1.6rem;
  }
}
.grid-container header nav ul li a:hover {
  color: var(--secondary-dark);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--secondary-dark);
}
.grid-container header .slider {
  grid-area: banner;
  background: var(--primary-middle);
}

main {
  grid-area: main;
  padding: 5rem 2rem;
}
main p {
  letter-spacing: 0.1rem;
  line-height: 3rem;
}
main .experience {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
@media only screen and (min-width: 768px) {
  main .experience {
    flex-direction: row;
    margin: 6rem 0;
    padding-bottom: 2rem;
  }
}
main .experience .timeline {
  color: var(--primary-dark);
  border-bottom: 1px solid var(--secondary-light);
}
@media only screen and (min-width: 768px) {
  main .experience .timeline {
    text-align: center;
    border-right: 1px solid var(--secondary-light);
    border-bottom: none;
  }
  main .experience .timeline p {
    width: 100px;
  }
}
@media only screen and (min-width: 768px) {
  main .experience .content {
    padding: 0 1rem;
  }
}
main .experience .content ul {
  list-style: circle;
}

aside {
  grid-area: aside;
  background: var(--primary-light);
}
@media only screen and (min-width: 992px) {
  aside {
    width: 50rem;
  }
}
aside .bar-skill {
  margin: 2rem 0;
  height: 5px;
  background: var(--primary-middle);
  position: relative;
}
aside .bar-skill .bar-skill-progress {
  position: absolute;
  height: 5px;
  top: 0;
  left: 0;
  background: var(--primary-dark);
}
aside .bar-skill .bar-skill-dot {
  position: absolute;
  height: 10px;
  width: 10px;
  background: var(--secondary);
  top: -2.5px;
  border-radius: 50%;
}
aside .bar-skill .progress-html {
  width: 90%;
}
aside .bar-skill .progress-sass {
  width: 80%;
}
aside .bar-skill .progress-bootstrap {
  width: 80%;
}
aside .bar-skill .progress-javascript {
  width: 30%;
}
aside .bar-skill .progress-php {
  width: 40%;
}
aside .bar-skill .progress-sql {
  width: 40%;
}
aside .bar-skill .progress-wp {
  width: 70%;
}
aside .bar-skill .progress-figma {
  width: 60%;
}
aside .bar-skill .progress-adobe {
  width: 60%;
}
aside .bar-skill .dot-html {
  left: calc(90% - 5px);
}
aside .bar-skill .dot-sass {
  left: calc(80% - 5px);
}
aside .bar-skill .dot-bootstrap {
  left: calc(80% - 5px);
}
aside .bar-skill .dot-javascript {
  left: calc(30% - 5px);
}
aside .bar-skill .dot-php {
  left: calc(40% - 5px);
}
aside .bar-skill .dot-sql {
  left: calc(40% - 5px);
}
aside .bar-skill .dot-wp {
  left: calc(70% - 5px);
}
aside .bar-skill .dot-figma {
  left: calc(60% - 5px);
}
aside .bar-skill .dot-adobe {
  left: calc(60% - 5px);
}
aside .stars-container {
  display: flex;
  margin: 2rem 0 3rem 0;
  justify-content: center;
}
aside .stars-container i {
  font-size: 2rem;
  margin: 0 1rem;
}
aside a {
  color: var(--primary);
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;
}
aside a:hover {
  color: var(--secondary-light);
}
aside a .social-container {
  display: block;
  padding: 1rem;
  border-radius: 5px;
}
aside a .social-container:hover {
  background: var(--primary);
}
aside a .social-container i {
  margin-right: 5px;
  font-size: 2rem;
  flex: 0 0 50px;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  padding: 3rem 1rem !important;
}
footer .footer-title {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-dark);
  text-align: center;
}
@media only screen and (min-width: 768px) {
  footer .footer-title {
    font-size: 3rem;
    text-align: center;
  }
}
footer .footer-subtitle {
  color: var(--secondary-light);
  font-family: var(--font-cnew);
  font-size: 1.8rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  footer .footer-subtitle {
    font-size: 2rem;
  }
}
footer .send-message {
  color: var(--secondary-light);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s;
}
footer .send-message:hover {
  color: var(--secondary-dark);
}
footer form {
  display: flex;
  align-items: center;
}
footer form .prefix {
  background: linear-gradient(to right, var(--primary), var(--primary-light));
  padding: 1rem 2rem;
  color: white;
  font-size: 1.8rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
footer form button {
  background: var(--text);
  border: 0;
  cursor: pointer;
}
footer form button .postfix {
  background: linear-gradient(to right, var(--primary-light), var(--primary));
  padding: 1rem 2rem;
  color: white;
  font-size: 2rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: all 0.3s;
}
footer form button .postfix:hover {
  background: linear-gradient(to right, var(--secondary-light), var(--secondary));
}
footer form input {
  outline: 0;
  border: 0;
  min-width: 200px;
  padding: 1rem 2rem;
  line-height: 2.2rem;
  background: var(--primary-light);
}
@media only screen and (min-width: 768px) {
  footer form input {
    min-width: 400px;
  }
}
footer form input::placeholder {
  color: var(--primary-middle);
}

/*# sourceMappingURL=style.css.map */
