@use 'media-queries' as *;

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include md {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        background: var(--primary-light);
        height: 40rem;
        max-width: 30rem;
        border-radius: 5px;
        margin: 0 0 2rem 0 !important;

        @include md {}

        .card-img-top {
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .card-body {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 26rem;

            .card-title {
                letter-spacing: 0.3rem;
                font-size: 1.8rem;
                font-weight: 700;
                text-transform: uppercase;
                color: var(--secondary);
                text-align: center;
            }

            .card-text {
                text-align: justify;

                // @include xs {
                //     padding-bottom: 1rem;
                // }

                // @include sm {
                //     padding-bottom: 1rem;
                // }
            }

            .btn {
                margin-top: auto;
            }
        }
    }

}