@use 'media-queries' as *;

.slider {
    &-title {
        color: var(--primary-light);
        font-size: 3rem;
        line-height: 4rem;
        letter-spacing: 1rem;
        font-weight: 700;
        text-align: center;
        padding: 3rem 0;

        @include sm {
            font-size: 4rem;
            line-height: 6rem;
            letter-spacing: 2.5rem;
        }
    }

    &-subtitle {
        color: var(--white);
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 0;

        @include sm {
            letter-spacing: 0.5rem;
            font-size: 2rem;
        }
    }

    &-text {
        padding: 2rem;
        color: var(--primary-light);
        text-align: center;

        @include md {
            padding: 2rem 1rem;
            text-align: justify;
        }
    }
}

.section {
    &-title {
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;

        @include md {
            font-size: 3rem;
        }
    }

    &-content {
        padding: 2.5rem 0 0 0;
        font-style: italic;
    }
}

.text {
    &-title {
        font-size: 1.8rem;
        text-align: center;
        letter-spacing: 0.3rem;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--secondary);

        @include md {}
    }

    &-subtitle {
        font-family: var(--font-cnew);
    }

    &-content {
        text-align: justify;
    }

    &-center {
        text-align: center;
    }

    &-title-start {
        text-align: start;
    }
}

.star {
    &-primary {
        color: var(--primary-dark);
    }

    &-primary-middle {
        color: var(--primary-middle);
    }
}