@use "variables" as *;
@use 'fonts' as *;
@use 'reset';
@use 'base';
@use 'utilities';
@use 'cards';
@use 'buttons';
@use 'animations';
@use 'carousel' as *;
@use 'media-queries' as *;
@use 'classes' as *;

.grid-container {
    display: grid;
    grid:
        "header" auto "aside" auto "main" auto "footer" auto / auto;

    @include lg {
        grid:
            "header header" auto "main aside" auto "footer footer" auto / auto;

    }

    // *********************************************************************************
    // Header

    // .grid-container {
    //     
    // }

    header {
        grid-area: header;
        display: grid;
        grid:
            "nav" auto "banner" auto / auto;


        @include md {
            grid:
                "nav" 12rem "banner" auto / auto;
        }

        nav {
            grid-area: nav;
            grid:
                "picture" auto "nav-items" auto /auto;
            padding: 2rem 0;
            background: var(--primary);

            @include md {
                display: grid;
                grid:
                    "picture nav-items" auto / auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @include lg {
                justify-content: space-between;
                align-items: center;
                padding: 1rem 5rem;
            }

            .menu-burger {
                display: flex;
                justify-content: space-around;
                align-items: center;

                img {
                    margin-right: 3rem;
                    width: 10rem;
                    border-radius: 50%;
                }

                .icon-burger {
                    font-size: 5rem;
                    color: var(--secondary);
                    border: 1px solid var(--secondary-light);
                    padding: 0 2rem;
                    border-radius: 1rem;

                    @include md {
                        display: none;
                    }
                }
            }

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 5rem 0 3rem 0;
                display: none;

                @include md {
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                }

                li {
                    padding: 2rem 0;

                    a {
                        color: var(--secondary-light);
                        font-weight: 700;
                        transition: all .3s;
                        font-size: 1.8rem;
                        cursor: pointer;

                        @include md {
                            padding: 0 2rem;
                            font-size: 1.6rem;
                        }

                        &:hover {
                            color: var(--secondary);
                            // background: var(--primary-light);
                            padding-bottom: 1rem;
                            border-bottom: 1px solid var(--secondary);
                        }
                    }
                }
            }
        }

        .slider {
            grid-area: banner;
            background: var(--primary-middle);
        }
    }
}

// *********************************************************************************
// MAIN

main {
    grid-area: main;
    padding: 5rem 2rem;

    p {
        letter-spacing: 0.1rem;
        line-height: 3rem;
    }

    .experience {
        display: flex;
        flex-direction: column;
        padding-bottom: 5rem;

        @include md {
            flex-direction: row;
            margin: 6rem 0;
            padding-bottom: 2rem;
        }

        .timeline {
            color: var(--primary-dark);
            border-bottom: 1px solid var(--light);

            @include md {
                text-align: center;
                border-right: 1px solid var(--light);
                border-bottom: none;

                p {
                    width: 100px;
                }
            }
        }

        .content {


            @include md {
                padding: 0 1rem;
            }

            ul {
                list-style: circle;
            }
        }
    }
}

// *********************************************************************************
// ASIDE

aside {
    grid-area: aside;
    background: var(--primary-light);

    @include lg {
        width: 50rem;

    }

    // SKILLS

    .bar-skill {
        margin: 2rem 0;
        height: 5px;
        background: var(--primary-middle);
        position: relative;

        .bar-skill-progress {
            position: absolute;
            height: 5px;
            top: 0;
            left: 0;
            width: 80%;
            background: var(--primary-dark);
        }

        .bar-skill-dot {
            position: absolute;
            height: 10px;
            width: 10px;
            background: var(--secondary);
            top: -2.5px;
            border-radius: 50%;
            // transform: rotate(45deg);
        }

        .progress-html {
            width: 90%;
        }

        .progress-sass {
            width: 80%;
        }

        .progress-bootstrap {
            width: 80%;
        }

        .progress-javascript {
            width: 30%;
        }

        .progress-php {
            width: 40%;
        }

        .progress-sql {
            width: 40%;
        }

        .progress-wp {
            width: 70%;
        }

        .progress-figma {
            width: 60%;
        }

        .progress-adobe {
            width: 60%;
        }

        .dot-html {
            left: calc(90% - 5px);
        }

        .dot-sass {
            left: calc(80% - 5px);
        }

        .dot-bootstrap {
            left: calc(80% - 5px);
        }

        .dot-javascript {
            left: calc(30% - 5px);
        }

        .dot-php {
            left: calc(40% - 5px);
        }

        .dot-sql {
            left: calc(40% - 5px);
        }

        .dot-wp {
            left: calc(70% - 5px);
        }

        .dot-figma {
            left: calc(60% - 5px);
        }

        .dot-adobe {
            left: calc(60% - 5px);
        }
    }

    // LANGUAGES

    .stars-container {
        display: flex;
        margin: 2rem 0 3rem 0;
        justify-content: center;

        i {
            font-size: 2rem;
            margin: 0 1rem;
        }

    }

    // SOCIAL

    a {
        color: var(--primary);
        transition: all .3s;
        cursor: pointer;
        text-align: center;

        &:hover {
            color: var(--secondary);
        }

        .social-container {
            display: block;
            padding: 1rem;
            border-radius: 5px;

            &:hover {
                background: var(--primary);
            }

            i {
                margin-right: 5px;
                font-size: 2rem;
                flex: 0 0 50px;
            }
        }


    }
}

// *********************************************************************************
// FOOTER

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    padding: 3rem 1rem !important;

    .footer-title {
        font-size: 2rem;
        letter-spacing: 0.5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--secondary);
        text-align: center;

        @include md {
            font-size: 3rem;
            text-align: center;
        }
    }

    .footer-subtitle {
        color: var(--secondary-light);
        font-family: var(--font-cnew);
        font-size: 1.8rem;

        @include md {
            font-size: 2rem;
        }
    }

    form {
        display: flex;
        align-items: center;

        .prefix {
            background: linear-gradient(to right, var(--primary), var(--primary-light));
            padding: 1rem 2rem;
            color: white;
            font-size: 1.8rem;
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }

        button {
            background: var(--text);
            border: 0;
            cursor: pointer;

            .postfix {
                background: linear-gradient(to right, var(--primary-light), var(--primary));
                padding: 1rem 2rem;
                color: white;
                font-size: 2rem;
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
                transition: all .3s;

                &:hover {
                    background: linear-gradient(to right, var(--secondary-light), var(--secondary));
                }
            }
        }

        input {
            outline: 0;
            border: 0;
            min-width: 200px;
            padding: 1rem 2rem;
            line-height: 2.2rem;
            background: var(--primary-light);

            @include md {
                min-width: 400px;
            }

            &::placeholder {
                color: var(--primary-middle);
            }
        }
    }


}